#root {
  text-align: center;
}
body{
  padding: 0;
  margin: 0;
  /* background-color: rgba(12, 11, 11, 1);
background-image: linear-gradient(180deg, rgba(12, 11, 11, 1) 0%, rgba(164, 4, 13, 1) 34%, rgba(164, 4, 13, 1) 55%, rgba(12, 11, 11, 1) 100%); */
background-color: #121619;
}