.title{
    color: #f3020c;
}

.admin{
    margin-top: 0;
    margin-bottom: 15vh;
}

.forms-container{
    gap: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}