.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    /* background-color: #f3020c; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }

  .socialMedia svg :hover {
    color: #f3020c;
  }
  
  .footer p {
    color: white;
  }


  @media (max-width: 768px) {
    .footer {
      height: auto;
      padding: 20px 0;
    }
  
    .socialMedia {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .socialMedia svg {
      font-size: 50px;
      margin: 10px;
    }
  
    .footer p {
      margin-top: 10px;
      font-size: 14px;
    }
  }