.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  position: relative; /* Dodajemy pozycję względną dla pseudoelementu */
  width: auto;
  padding: 20px; /* Dodałem padding, aby tekst był bardziej czytelny */
  background-color: #8d050b51; /* Kolor tła z przezroczystością */
  border-radius: 10px;
  color: white;
}

.headerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/tasma.jpg'); /* Twoje tło */
  background-size: cover;
  background-position: center;
  filter: brightness(50%); /* Rozjaśniamy obrazek o 50% */
  z-index: -1; /* Umieszczamy pod tekstem i przyciskiem */
  border-radius: 10px; /* Dla zgodności z tłem .headerContainer */
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 60px;
  height: auto;
  font-weight: 50;
  color: white;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: white;
}

.headerContainer button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #07090a;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #121619;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    padding: 10px;
    width: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(18, 22, 25, 0.7); 
    color: white;
  }

  .headerContainer h1 {
    font-size: 32px;
    margin: 10px 0;
    text-align: center; 
  }

  .headerContainer p {
    font-size: 24px;
    text-align: center; 
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 20px;
    width: 80%; 
    font-size: 18px; 
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}


