.menuButton{
    background-color: #590004;
  border: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.25s;

  text-decoration: none;
  }


  .menuButton:hover{
    background-color: #121619;
    color: #f3020c;
  }

  
/* Media Queries for menuButton */
@media (max-width: 768px) {
  .menuButton {
      width: 80%;
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 18px;
      border-top: 1px solid black;
      padding-top: 10px;
      background-color: #f3020c;
  }
}