.movies {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5vh;
  }
  .movies .moviesTitle {
    color: #f3020c;
    font-family: cursive;
    font-size: 60px;
  }
  
  .moviesList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* movies ITEM STYLING */
  
  .moviesItem {
    border-radius: 15px;
    min-width: 300px;
    min-height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    /* background-color: #850f15b5; */
    /* background-color: #f3020c; */
    background-color: #590004;;
    color:white;
  }
  .moviesItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: #f3020c;
    color:#121619;
  }
  
  .moviesItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .moviesItem h1,
  .moviesItem p {
    margin-left: 20px;
  }



  /* moje style -------------------------------------- */

  .sliderDiv{
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
  }

  /* ------------------------------------------------- */
  
  @media only screen and (max-width: 1300px) {
    .moviesList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .moviesList {
      grid-template-columns: 1fr;
    }
  }