.navbar {
  width: 100%;
  height: 10vh;
  background-color: #590004;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar .leftSide {
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
}

.navbar .leftSide img {
  width: 70px;
}

.navbar .rightSide {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.navbar .rightSide.open {
  display: block;
  position: absolute;
  top: 10vh;
  right: 0;
  background-color: #590004;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.navbar .toggleButton {
  display: none;
}

@media (max-width: 768px) {
  .navbar .leftSide {
      display: none;
  }

  .navbar .rightSide {
      display: none;
      flex-direction: column;
      align-items: center;
      height: 50%;
  }

  .navbar .rightSide.open {
      display: flex;
  }

  .navbar .toggleButton {
      display: block;
      background: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
  }
}
