.profilePic{
    max-width: 200px;
    object-fit: cover;
    border-radius: 25%;
}
#Title{
    color: #f3020c;
}

.content{
    background-color: #590004;
    color: #f3020c;
    align-items: center;
    margin-left: 0;
    margin-bottom: 10vh;
    padding: 5vh 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.backgroundImg{
    opacity: 0.3;
}

.user_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}
.my-bookings{
    display: flex;
    flex-direction: column;
    color: white;
   gap:2vh;
}
.my-bookings h2,.my-bookings h3{
color:#f3020c;
margin: 0;
}

.booking-row{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: #590004;
    border-radius: 5px;
    padding: 10px 20px;
}
