.screeningRowContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 5vw;
    margin-bottom: 2vh;
    margin-left: 2vw;
}
.screeningRow-image{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.screeningRow-info{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    background-color: #8d050b51;
    padding: 15px 10px;
    border-radius: 5px;
}
.screeningRow-info h1,.screeningRow-info h2,.screeningRow-info h3, p{
    margin: 0;
}




@media (max-width: 768px) {
    .screeningRowContainer {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin-left: 0;
    }

    .screeningRow-image {
        display: none;
    }

    .screeningRow-info {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .screeningRow-info h1,
    .screeningRow-info h2,
    .screeningRow-info h3,
    p {
        margin-bottom: 1vh;
    }
}