.seat-picker-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .seat-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .row-number {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .seats {
    display: flex;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  
  .seat.available {
    background-color: green;
  }
  
  .seat.reserved {
    background-color: red;
    cursor: not-allowed;
  }


  .screen{
    background-color: black;
    color: white;
    min-width: 50vw;
    height: 40px;
  }
  


  .reserve-button{
    border-style: none;
    padding: 10px 20px;
    font-size: 1.75em;
    justify-content: space-evenly;
    cursor: pointer;


    background-color: #590004;
    border-radius: 2em;
    color: white;
  }

  .reserve-button:hover{
    background-color: black;
    color: #f3020c;
  }

  .row-number{
    color: #f3020c;
  }


  /* Media Queries */
@media only screen and (max-width: 768px) {
  .seat-picker-container {
    padding: 20px;
  }

  .seat-picker {
    width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .row-number {
    margin-bottom: 5px;
    margin-right: 0;
  }

  .seats {
    flex-wrap: wrap;
    justify-content: center;
  }

  .seat {
    width: 25px;
    height: 25px;
    margin: 3px;
  }

  .screen {
    min-width: 80vw;
    height: 30px;
    font-size: 0.9em;
  }

  .reserve-button {
    font-size: 1.5em;
    padding: 8px 16px;
  }
}