.seat-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .seat-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .row-number {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .seats {
    display: flex;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  
  .seat.available {
    background-color: green;
  }
  
  .seat.reserved {
    background-color: red;
    cursor: not-allowed;
  }
  