
.sliderStyles{
    height: 100%;
    position: relative;
}
.slideStyles{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.arrow.left {
    left: 32px;
}

.arrow.right {
    right: 32px;
}


.dotsContainer {
    display: flex;
    justify-content: center;
  }
  
.dots {
    margin: 0 3px;
    cursor: pointer;
    font-size: 30px;
  };